/*========================================================Templete Name: Palu Lipkin - Portfolio Template Templete URI : Description : An Awesome Portfolio Template Author : Md.Jahid Hasan Noyon Author Url : Support : noyonj94@gmail.com Verson : 1.0========================================================*/ /*========================================================CSS INDEX=========01. COMMON CSS 02. HERO 03. ABOUT 04. PROCESS 05. EXPERIENCE 06. PORTFOLIO 07. TESTIMONIAL 08. CONTACT 09. FOOTER========================================================*/ /*========================================================01. COMMON CSS========================================================*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 650% !important;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
  margin: 0 !important;
  padding: 0;
  display: inline-block;
}
h2 {
  font-size: 400%;
}
h3 {
  font-size: 260%;
  text-transform: uppercase;
  margin-bottom: 45px;
  color: #fff !important;
}
h4 {
  font-size: 160%;
  font-weight: 700;
  margin-top: 0;
}
ul li {
  list-style: none;
} /* REUSEABLE COMPNENT */
.row {
  max-width: 1180px;
  margin: auto;
}
section {
  padding: 120px 0;
}
.btn:link,
.btn:visited,
.btn {
  width: 200px;
  background: #ff2b4a;
  display: inline-block;
  text-align: center;
  font-size: 160%;
  padding: 10px 0;
  border: 2px solid #ff2b4a;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background: transparent;
  color: #ff2b4a;
  text-decoration: none;
}
.section-title {
  text-align: center;
  margin-bottom: 45px;
} /*========================================================01. HERO========================================================*/
#hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/hero.jpg) no-repeat center/cover;
}
.logo {
  float: left;
  height: 45px;
  margin-top: 15px;
}
.nav-icon {
  float: right;
  color: #fff;
  margin-top: 15px;
}
.nav-icon ion-icon {
  font-size: 45px;
  border: 2px solid #fff;
}
.nav-icon ion-icon:hover {
  color: #fff;
}
.hero-text-box {
  max-width: 1180px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1::before {
  content: "";
  background: #fff;
  height: 2px;
  width: 100%;
  display: block;
}
h1::after {
  content: "";
  background: #fff;
  height: 2px;
  width: 100%;
  display: block;
}
.hero-text-box span {
  color: #fff;
  font-size: 230%;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-top: 15px;
}
.sticky-header {
  overflow: hidden;
  z-index: 9000 !important;
  padding: 15px 0;
}
.scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  margin-top: 160px;
}
.scroll-down a ion-icon {
  font-size: 400%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  position: relative;
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
  0% {
    top: 10px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
}
@keyframes arrow {
  0% {
    top: 10px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
} /* HUMBERGER MENU */
.menu-container {
  width: 100%;
  height: 0;
  background: rgb(0, 0, 0, 0.95);
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  overflow: hidden;
}
.close-btn ion-icon {
  font-size: 400%;
  color: #fff;
  position: absolute;
  top: 45px;
  right: 170px;
  border: 1px solid #fff;
}
.close-btn:hover {
  cursor: pointer;
}
.menu-item {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item ul li {
  margin: 10px 0;
}
.menu-item ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 300%;
  text-decoration: none;
  transition: 0.3s;
  display: block;
}
.menu-item ul li a:hover,
.menu-item ul li a:active {
  color: #ff2b4a;
  font-size: 320%;
} /*========================================================03.ABOUT========================================================*/
.grid-about-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 60px;
}
.palu {
  width: 100%;
  -webkit-clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}
.intro {
  font-size: 180%;
  font-weight: 700;
  color: #222222;
}
.description {
  font-size: 160%;
  color: #222222;
  width: 90%;
  margin: 30px 0;
} /*========================================================04. PROCESS========================================================*/
#process {
  background: #f6f6f6;
}
.section-title p {
  font-size: 160%;
  color: #6f6f6f;
  margin-top: 10px;
}
.grid-process-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  color: #fff;
}
.grid-process-item {
  padding: 80px 0;
  border-radius: 5px;
}
.grid-process-item:nth-child(1) {
  background: #10c6fc;
}
.grid-process-item:nth-child(2) {
  background: #835aeb;
}
.grid-process-item:nth-child(3) {
  background: #002453;
}
.grid-process-item:nth-child(4) {
  background: #ff2b4a;
}
.grid-process-item ion-icon {
  margin-bottom: 30px;
  font-size: 450%;
}
.grid-process-item h4 {
  text-transform: uppercase;
  margin-top: 0;
  color: #fff;
} /*========================================================05. EXPERINCE========================================================*/
#experince {
  background: url(img/experience.jpg) no-repeat center/cover;
  background-attachment: fixed;
  color: #fff;
}
.grid-experince-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid-experence-items,
.grid-education-items {
  background: rgb(0, 0, 0, 0.8);
  padding: 60px 30px;
  border-radius: 5px;
}
.grid-experence-items h3,
.grid-education-items h3 {
  font-size: 260%;
}
.job h4 {
  font-size: 180%;
  color: #fff;
}
.job span {
  font-size: 160%;
  margin: 10px 0;
  display: inline-block;
}
.job p {
  font-size: 160%;
}
#experince hr {
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 30px 0;
} /*========================================================06. PORTFOLIO========================================================*/
.grid-portfolio-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(250px, auto);
}
.grid-portfolio-items img {
  width: 100%;
  height: 100%;
}
.grid-portfolio-items:nth-child(5) {
  grid-column: 1/3;
  height: 250px;
}
.uk-lightbox-toolbar {
  background: rgba(180, 36, 36, 0.3) !important;
  font-size: 160%;
}
.uk-lightbox {
  background: rgba(0, 0, 0, 0.801) !important;
}
.portfolio-filter {
  text-align: center;
}
.portfolio-filter button {
  background: #000;
  color: #fff;
  font-size: 160%;
  border: 1px solid #000;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.portfolio-filter button:hover {
  background: rgba(255, 0, 76, 0.671);
  border: rgba(255, 0, 76, 0.671);
}
.portfolio-filter .mixitup-control-active {
  background: rgba(255, 0, 76, 0.671);
  border: rgba(255, 0, 76, 0.671);
} /*========================================================07. TESTIMONIAL========================================================*/
#testimonial {
  background: url(img/testimonial.jpg) no-repeat center top/cover;
}
.grid-testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.quote img {
  height: 35px;
}
#testimonial p {
  font-size: 160%;
  margin: 45px 0;
}
.signature img {
  height: 45px;
  margin-bottom: 15px;
}
#testimonial h4 {
  font-size: 180%;
}
#testimonial span {
  font-size: 140%;
} /*========================================================08. CONTACT========================================================*/
#contact {
  background: url(img/contact.jpg) no-repeat center/cover fixed;
  color: #fff;
}
.grid-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid-contact-items:nth-child(1) {
  background: rgba(0, 0, 0, 0.8);
  padding: 45px 30px;
}
.single-form input[type="text"],
.single-form input[type="email"],
.single-form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 140%;
  padding: 10px;
  margin: 10px 0;
}
.single-form-btn {
  text-align: right;
  margin-top: 30px;
}
.nested-grid-contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.nested-grid-contact-items {
  background: rgba(0, 0, 0, 0.8);
  padding: 45px 30px;
}
.nested-grid-contact-items p {
  font-size: 160%;
} /*========================================================09. FOOTER========================================================*/
#footer {
  background: #222222;
  padding: 60px 0;
  text-align: center;
}
.social-icon {
  margin-bottom: 15px;
}
.social-icon ul li {
  display: inline-block;
}
.social-icon ul li a ion-icon {
  font-size: 200%;
  color: #fff;
  border-right: 1px solid #fff;
  padding: 0 10px;
}
.social-icon ul li a ion-icon:hover {
  color: #ff2b4a;
}
.copyright {
  color: #fff;
  font-size: 120%;
}
.copyright a {
  color: #ff2b4a;
}
.totop {
  margin-top: 20px;
}
.totop .uk-totop {
  padding: 10px 8px;
  color: #f6f6f6 !important;
  transition: 1s;
  border: 1px solid #f6f6f6;
}
.totop .uk-totop:hover {
  background: #f6f6f6;
  color: #000 !important;
}
